

 
    <div class="login-container">
  
      <h1>Login to Site</h1>
      <form  [formGroup]="loginform"  class="login-form">
        <input type="text" formControlName="username" placeholder="Username or Email" required>
        <input type="password" formControlName="password" placeholder="Password" required>
        <button type="submit" (click)="login()" >Log in</button>
      </form>
      <div class="sign-up">
        <p>Don't have an account? <a href="/user-registration">Sign up</a></p>
      </div>
    </div>

  
  