<div class="homepage-content-container">



  <div id="carousel-homepage" class="carousel slide" data-bs-ride="carousel">
    <section class="profile">
      <div class="container profile-content">

        <div class="profile-text">
          <h2>Hello, I'm</h2>
          <h1><span class="highlight">Ganesh Kavale</span></h1>

          <h3 class="profile-title">
            Software Developer
          </h3>

          <p>
            Results driven Software Developer with 3+ years of experience in Product Development, and building
            enterprise B2B and B2C platforms. I specialize in Java, Spring Boot, Microservices, Spring MVC, Hibernate,
            SAP Commerce Cloud (Hybris), Angular, and AWS, with a strong focus on scalable system design, secure API
            development, and high-performance digital solutions. My work spans healthcare, enterprise commerce, and
            product platforms across regions including USA, Germany, Singapore, and Malaysia.
          </p>
          <p>I combine strong backend engineering with full-stack capabilities to deliver reliable, business-driven
            platforms. With experience in end-to-end product development, system architecture, and enterprise
            integrations, I focus on building clean, maintainable systems that create real business impact and long-term
            value.
          </p>

        </div>

        <div class="profile-image">
          <img src="../../../assets/images/Ganesh_Profile.png" alt="Ganesh Kavale">
        </div>

      </div>
    </section>

  </div>
  <div class="enterprise-projects">
    <div class="projects-wrapper">

      <!-- Left Image -->
      <div class="projects-image">
        <img src="../../../assets/images/Projects.jpg" alt="Ganesh Kavale">
      </div>

      <!-- Right Content -->
      <div class="project-list">

        <!-- Enterprise Projects -->
        <div class="app-title">Enterprise Projects</div>
        <div class="project-item" *ngFor="let projectName of enterpriseProjects; let j = index">
          <a routerLink="/portfolio">{{ projectName }}</a>
        </div>

        <!-- Personal Projects -->
        <div class="app-title personal-title">Personal Projects</div>
        <div class="project-item" *ngFor="let personalProject of personalProjects">
          <a routerLink="/portfolio">{{ personalProject }}</a>
        </div>

      </div>
    </div>
  </div>

  <div class="gallery-section">
  <div class="gallery-title">Gallery</div>

  <div class="marquee-container">
    <div class="marquee-track">
  <div
      class="marquee-item"
      *ngFor="let item of imageUrls"
    >
      <img [src]="item" [alt]="item">
      <!-- <div class="title">{{ item }}</div> -->
    </div>    </div>
  </div>
</div>

</div>