 
  <!-- Footer Container -->
  <div class="footer-container">
    <ul class="footer-menu">
      <li><a href="https://www.nasa.gov/sitemap/">Sitemap</a></li>
      <li><a href="https://www.nasa.gov/news/nasa-media-contacts/">For Media</a></li>
      <li><a href="https://www.nasa.gov/nasa-web-privacy-policy-and-important-notices/">Privacy Policy</a></li>
       <li><a href="login">Logout</a></li>
  <!--    <li><a href="https://www.nasa.gov/no-fear-act/">No FEAR Act</a></li>
      <li><a href="http://oig.nasa.gov/" target="_blank">Office of the IG</a></li>
      <li><a href="https://www.nasa.gov/budgets-plans-and-reports/">Budget & Annual Reports</a></li>
      <li><a href="https://www.nasa.gov/organizations/budget-annual-reports/agency-financial-reports/">Agency Financial Reports</a></li>
      <li><a href="https://www.nasa.gov/contact-nasa/">Contact NASA</a></li>
      <li><a href="https://www.nasa.gov/accessibility/">Accessibility</a></li> -->
    </ul>
  </div>
  