<div class="footer-wrapper">
  <!-- Primary Footer: Menu Links -->
<div class="footer-container primary-footer">
  <div class="footer-section">
    <ul class="footer-menu">
      <li><a href="/">Sitemap</a></li>
      <li><a href="/">For Media</a></li>
      <li><a href="/">Privacy Policy</a></li>
      <li><a href="/login" (click)="logout()">Logout</a></li>
    </ul>

    <ul class="social-menu">
      <li> <b>Follow Us:</b></li>
      <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
      <li><a href="https://linkedin.com" target="_blank">LinkedIn</a></li>
      <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
    </ul>
  </div>
</div>

<div class="footer-container secondary-footer">
    <p>&copy; 2025 SYSIO INFO. All rights reserved.</p>
</div>