.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Takes full screen height */
}

.login-container {
  flex: 1; /* Expands to push footer down */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url('https://media.licdn.com/dms/image/v2/D5612AQEyjTPKimdQrQ/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1728313629884?e=2147483647&v=beta&t=R69zFiPTfZ9CstKu7QQS8tzbknchc78eP0RX2itlVLs');
  background-size: cover;
  background-position: center;
}
