<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Let's Connect</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">

<p>Hi <strong><span th:text="${recipientName}">Recipient Name</span></strong>,</p>

<p>Thank you for visiting our website and showing interest in connecting with us. We are always excited to explore new opportunities and collaborate with like-minded professionals.</p>

<p>We would love to learn more about your goals and how we can work together to create value.</p>

<p>Our team will review your document shared message and get back to you as soon as possible. We look forward to connecting and exploring potential opportunities together.</p>

<p>Best regards,<br/>
    <strong>IOSys Team<br/>
    Email: <a href="mailto:ganeshkavale27@gmail.com">ganeshkavale27@gmail.com</a><br/>
    Phone: +91 - 9067609181</strong>
</p>

<hr>
<p style="font-size: 12px; color: #777;">This email was sent from our website's "Let's Connect" IOsys Team. Please do not share email.</p>

</body>
</html>
